# Source files
src/
*.spec.ts

# Config files
tsconfig.json
.eslintrc.js
.prettierrc

# Git
.git/
.gitignore

# IDE
.idea/
.vscode/

# Testing
coverage/
.nyc_output/

# Misc
*.log
.env
node_modules/

